@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  height: 100vh;
}

.container img {
  width: 100%;
  position: absolute;
  height: 100vh;
  object-fit: cover;
}

.landscape {
  z-index: 100;
}
.sky {
  height: 100%;
}

.title {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9.875rem;
  z-index: 50;
  transition: transform 0.3s ease;
}

.brown-bg {
  height: 100vh;
  width: 100%;
  background: #63361a;
}

/* For mobiles and ipad */
@media screen and (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .container img {
    object-fit: none;
  }
}
