@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
